# SUPABASE_URL: Your Supabase project URL
SUPABASE_URL= "https://qphzpbkfzhkgdaghmwsq.supabase.co"

# SUPABASE_ANON_KEY: Your Supabase anonymous key
SUPABASE_ANON_KEY= "sb_publishable_N4_90EK4cK7N8ECAlzBi8Q_4FzBq_aJ"
